$green:#117A54;
$red:#F31308;

body{
    font-family: "Source sans pro", Verdana, Sans-serif;
}

h1 {
  color: grey;
  padding-top: 20px;
  padding-bottom: 17px;
  margin-left: 45%; 
}

 h2 {
  margin-left: 45%; 
}


h3{
  width: 100%;
}

#form-search, #book{
    position: relative;
    left: -80%;
    width: 190%;
    font-size: 15px;
}

#book{
width: 180%;
}

input[type=button],input[type=submit] {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: white; 
  margin-bottom: 5px;
}

#button-green-search {
  background-color: #117A54;
  margin-left: 0%; }

.logo {
  margin-left: 45%; 

}

label{
    display: block;
    width: 90%; 
}
#title-book,#author{
    width: 90%;
    margin-bottom: 10px;
}


a {
  text-decoration: none;
  color: white; }

#button-green-search, #add-book {
  background-color: #117A54;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: white; 
}


.button-red {
  background-color: $red;
  margin-left: 0%;
  margin-top: 1%;
  text-align: center;
  width: 128px;
}

p {
  margin-left: 45%;
  font-size: 30px;
  font-weight: bold; 
}


.element,.elementMarked{
  border: 5px solid #117A54;
  padding-bottom: 10px;
  margin-top: 10px; 
  width: 46%;
  margin-right: 10px;
  padding-left: 10px;
}

#book, #poch, #session{
    display: flex;
    flex-wrap: wrap;
}

#bookmark{
   margin-left: 90%;
   position: relative;
   top: 5%;
}

.element img{
    position: relative;
    left: 30%;
}

.fa-bookmark{
    color: $green;
    margin-left: 90%;
}

.fa-trash{
    color:red;
    margin-left: 90%;
}

@media (max-width: 890px) { 

    h1, h2 {
        margin-left: 32%;
    }
    .logo{
        margin-left: 37%;
    }
    
    #form-search, #book {
    position: relative;
    left: -40%;
    width: 140%;
    font-size: 15px;
    }
    
    .element, .elementMarked{
        width: 90%;

    }
}


